StartTLS Extended operation support

At present, node-ldapjs supports the `ldaps` protocol, essentially LDAP wrapped in an TLS tunnel. It works great, thank you.

It would be even better if [at least] the client portions of node-ldaps supported the StartTLS Extended operation as defined in [Section 4.14 of RFC 4511](http://tools.ietf.org/html/rfc4511#section-4.14). 

[![Bountysource](https://www.bountysource.com/badge/issue?issue_id=11219304)](https://www.bountysource.com/issues/11219304-starttls-extended-operation-support?utm_source=11219304&utm_medium=shield&utm_campaign=ISSUE_BADGE)

It looks like this is purposefully left out. 
https://github.com/mcavage/node-ldapjs/blob/master/docs/index.md

># What's not in the box?

>Since most developers and system(s) adminstrators struggle with some of the
esoteric features of LDAP, not all features in LDAP are implemented here.
Specifically:

>* LDIF
* Aliases
* Attributes by OID
* TLS extended operation (seriously, just use SSL)
* Extensible matching

>There are a few others, but those are the "big" ones.

@mcavage, would you accept a pull request that implemented StartTLS Extended operation?


Hey @kbailey4444, there's already an effort to add StartTLS, and I've got a patch from @pfmooney in [my fork](https://github.com/msimerson/node-ldapjs) that I'm testing. It's working for me with Active Directory 2008, but you'd be welcome to also test it and provide feedback.

Basic support completed in 3ca7e6d98f53e4a955f411e936ceb376e18f9b63